@import url("mediaquery.css");
.f {
  display: flex;
  flex-wrap: wrap;
}
:root {
  --col-1: 0 0 100%;
  --col-2: 0 0 calc(50% - 10px);
  --col-3: 0 0 calc(33.33% - 10px);
  --col-4: 0 0 calc(25% - 10px);
  --col-5: 0 0 calc(20% - 10px);
  --col-6: 0 0 calc(16.66% - 10px);
  --col-7: 0 0 calc(14.28% - 10px);
  --col-8: 0 0 calc(12.5% - 10px);
  --col-9: 0 0 calc(11.11% - 10px);
  --col-10: 0 0 calc(10% - 10px);

  --f0: 0 0 auto;
  --f1: 1 1 0%;
  --f2: 2 2 0%;
  --f3: 3 3 0%;
  --f4: 4 4 0%;
  --f5: 5 5 0%;
  --f6: 6 6 0%;
  --f7: 7 7 0%;
  --f8: 8 8 0%;
  --f9: 9 9 0%;
  --f10: 10 10 0%;

  /* Half-step values */
  --f0-5: 0.5 0.5 0%;
  --f1-5: 1.5 1.5 0%;
  --f2-5: 2.5 2.5 0%;
  --f3-5: 3.5 3.5 0%;
  --f4-5: 4.5 4.5 0%;
  --f5-5: 5.5 5.5 0%;
  --f6-5: 6.5 6.5 0%;
  --f7-5: 7.5 7.5 0%;
  --f8-5: 8.5 8.5 0%;
  --f9-5: 9.5 9.5 0%;
}

.nowrap {
  flex-wrap: nowrap !important;
}
.f-grow > * {
  flex-grow: 1;
}
.f10 {
  flex: var(--f10);
}

.f9 {
  flex: var(--f9);
}

.f8 {
  flex: var(--f8);
}

.f7 {
  flex: var(--f7);
}

.f6 {
  flex: var(--f6);
}

.f5 {
  flex: var(--f5);
}

.f4 {
  flex: var(--f4);
}

.f3 {
  flex: var(--f3);
}
.f33 {
  flex: var(--f33);
}

.f2 {
  flex: var(--f2);
}

.f1 {
  flex: var(--f1);
}

.f0 {
  flex: 1 1 0;
}
.f0-5 {
  flex: var(--f0-5);
}
.f1-5 {
  flex: var(--f1-5);
}
.f2-5 {
  flex: var(--f2-5);
}
.f3-5 {
  flex: var(--f3-5);
}
.f4-5 {
  flex: var(--f4-5);
}
.f5-5 {
  flex: var(--f5-5);
}
.f6-5 {
  flex: var(--f6-5);
}
.f7-5 {
  flex: var(--f7-5);
}
.f8-5 {
  flex: var(--f8-5);
}
.f9-5 {
  flex: var(--f9-5);
}
.fdc {
  flex-direction: column;
}

.aic {
  align-items: center;
}
.ais {
  align-items: stretch;
}
.aifs {
  align-items: flex-start;
}
.aife {
  align-items: flex-end;
}
.aib {
  align-items: baseline;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: end;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

.jcsa {
  justify-content: space-around;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f.col-2,
.f.col-3,
.f.col-4,
.f.col-5,
.f.col-6,
.f.col-7,
.f.col-8,
.f.col-9,
.f.col-10 {
  justify-content: space-between;
}

.f.col-1:not(:has(.nowrap)) > * {
  flex: var(--col-1);
}
.f.col-2:not(:has(.nowrap)) > * {
  flex: var(--col-2);
}
.f.col-3:not(:has(.nowrap)) > * {
  flex: var(--col-3);
}
.f.col-4:not(:has(.nowrap)) > * {
  flex: var(--col-4);
}
.f.col-5:not(:has(.nowrap)) > * {
  flex: var(--col-5);
}
.f.col-6:not(:has(.nowrap)) > * {
  flex: var(--col-6);
}
.f.col-7:not(:has(.nowrap)) > * {
  flex: var(--col-7);
}
.f.col-8:not(:has(.nowrap)) > * {
  flex: var(--col-8);
}
.f.col-9:not(:has(.nowrap)) > * {
  flex: var(--col-9);
}
.f.col-10:not(:has(.nowrap)) > * {
  flex: var(--col-10);
}

.cg5 {
  column-gap: 5px;
}
.cg10 {
  column-gap: 10px;
}
.cg15 {
  column-gap: 15px;
}
.cg20 {
  column-gap: 20px;
}
.cg30 {
  column-gap: 30px;
}

.rg5 {
  row-gap: 5px;
}
.rg10 {
  row-gap: 10px;
}
.rg15 {
  row-gap: 15px;
}
.rg20 {
  row-gap: 20px;
}
.rg30 {
  row-gap: 30px;
}

.gap5 {
  gap: 5px;
}
.gap10 {
  gap: 10px;
}
.gap15 {
  gap: 15px;
}
.gap20 {
  gap: 20px;
}
.gap30 {
  gap: 30px;
}
