@import url(paddingMargin.css);
@import url(flexSystem.css);
@import url(border-radius.css);
@import url(hover.css);
@import url(card-drop-down.css);
@import url(dimensions.css);
@import url(buttons.css);
.container,
.full:not(.screen),
img[src] {
  width: 100%;
}
:root {
  font-size: 1rem;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --container-size: 1100px;
  --mbgc: #000127;
  --mtc: #e3e3e3;
  --tc: #dbdbdb;
  --stc: #f0f0f0;
  --mhc: #f0f0f0;
  --hc: #e4dbdb;
  --shc: #eee6e6;
  --glow-color: rgba(255, 165, 0, 1);
  --mh: clamp(2rem, 4vw, 4rem);
  --heading: clamp(1.8rem, 3vw, 3rem);
  --sh: clamp(1.2rem, 2vw, 2rem);
  --mt: clamp(1rem, 1.4vw, 1.8rem);
  --text: clamp(0.85rem, 1.3vw, 1.2rem);
  --st: clamp(0.7rem, 1vw, 1rem);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-family);
}
.pointer {
  cursor: pointer;
}
img[src].auto {
  width: auto;
}
.hide {
  display: none;
}
.hidden {
  overflow: hidden;
}
.heading,
.main-heading,
.main-text,
.sub-heading,
.sub-text,
.text {
  margin-top: 10px;
}
.main-heading {
  color: var(--mhc);
  font-size: var(--mh);
  font-weight: 700;
  margin: 1rem 0;
}
.container,
.m0a {
  margin: 0 auto;
}
.heading {
  color: var(--hc);
  font-size: var(--heading);
  font-weight: 700;
}
.sub-heading {
  color: var(--shc);
  font-size: var(--sh);
  font-weight: 700;
}
.main-text,
.sub-text,
.text {
  font-weight: 400;
}
.main-text {
  color: var(--mtc);
  font-size: var(--mt);
}
.text {
  color: var(--tc);
  font-size: var(--text);
}
.sub-text {
  color: var(--stc);
  font-size: var(--st);
}
.mbgc {
  background-color: var(--mbgc);
}
.mtc {
  color: var(--mtc);
}
.mhc {
  color: var(--mhc);
}
.shc {
  color: var(--shc);
}
.wtc {
  color: #fff;
}
.btc {
  color: #000;
}
.wbgc {
  background-color: #fff;
}
.bbgc {
  background-color: #000;
}
.tc {
  color: var(--tc);
}
.stc {
  color: var(--stc);
}
.hc {
  color: var(--hc);
}
h2 {
  font-size: 2.3rem;
}
.mh {
  font-size: var(--mh);
}
.hs {
  font-size: var(--heading);
}
.sh {
  font-size: var(--sh);
}
.mt {
  font-size: var(--mt);
}
.ts {
  font-size: var(--text);
}
.st {
  font-size: var(--st);
}
.tac {
  text-align: center;
}
.tae {
  text-align: end;
}
.tas {
  text-align: start;
}
.bglight {
  background-color: #dadada;
}
.full.screen {
  width: 100vw;
}
.container {
  max-width: var(--container-size);
  padding: 0 1rem;
}
