@import url("paddingMargin.css");
@import url("flexSystem.css");
@import url("border-radius.css");
@import url("hover.css");

:root {
  font-size: 1rem;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --my-container: min(var(--container-size), 100%);
  --container-size: 1100px;
  --mbgc: #000127;

  --mtc: #303030;
  --tc: #303030;
  --stc: #303030;
  --mhc: #303030;
  --hc: #303030;
  --shc: #303030;

  /* --mh: 3.2rem;
  --heading: 2.3rem;
  --sh: 1.2rem;

  --mt: 1.2rem;
  --text: 1.01rem;
  --st: 0.80rem; */

  --f1: 0 0 calc(10% - 10px);
  --f2: 0 0 calc(20% - 10px);
  --f3: 0 0 calc(30% - 10px);
  --f33: 0 0 calc(33.33% - 10px);
  --f4: 0 0 calc(40% - 10px);
  --f5: 0 0 calc(50% - 10px);
  --f6: 0 0 calc(60% - 10px);
  --f7: 0 0 calc(70% - 10px);
  --f8: 0 0 calc(80% - 10px);
  --f9: 0 0 calc(90% - 10px);
  --f0-5: 0 0 calc(05% - 10px);
  --f1-5: 0 0 calc(15% - 10px);
  --f2-5: 0 0 calc(25% - 10px);
  --f3-5: 0 0 calc(35% - 10px);
  --f4-5: 0 0 calc(45% - 10px);
  --f5-5: 0 0 calc(55% - 10px);
  --f6-5: 0 0 calc(65% - 10px);
  --f7-5: 0 0 calc(75% - 10px);
  --f8-5: 0 0 calc(85% - 10px);
  --f9-5: 0 0 calc(95% - 10px);
  --f10: 0 0 100%;
}

:root {
  --mh: clamp(2rem, 4vw, 4rem); /* Main heading size */
  --heading: clamp(1.8rem, 3vw, 3rem); /* Subheading */
  --sh: clamp(1.2rem, 2vw, 2rem); /* Small heading size */

  --mt: clamp(1rem, 1.6vw, 1.8rem); /* Main text size */
  --text: clamp(0.85rem, 1.4vw, 1.2rem); /* Text */
  --st: clamp(0.7rem, 1vw, 1rem); /* Small text */
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-family);
}
.container {
  max-width: var(--my-container);
  padding: 15px;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

img[src] {
  width: 100%;
}

img[src].auto {
  width: auto;
}

/*  */
/*  */
/*  */
/*  */
/*  */

/* margin */
.main-heading,
.heading,
.sub-heading,
.text,
.sub-text,
.main-text {
  margin-top: 10px;
}

.main-heading {
  color: var(--mhc);
  font-size: var(--mh);
  font-weight: 700;
  margin: 1rem 0;
}
.heading {
  color: var(--hc);
  font-size: var(--heading);
  font-weight: 700;
}
.sub-heading {
  color: var(--shc);
  font-size: var(--sh);
  font-weight: 700;
}

.main-text {
  color: var(--mtc);
  font-size: var(--mt);
  font-weight: 400;
}
.text {
  color: var(--tc);
  font-size: var(--text);
  font-weight: 400;
}
.sub-text {
  color: var(--stc);
  font-size: var(--st);
  font-weight: 400;
}

.mbgc {
  background-color: var(--mbgc);
}

.mtc {
  color: var(--mtc);
}
/*  */
.mhc {
  color: var(--mhc);
}
.shc {
  color: var(--shc);
}
/*  */
.wtc {
  color: #fff;
}
.btc {
  color: #000;
}
.wbgc {
  background-color: #fff;
}
.bbgc {
  background-color: #000;
}
.tc {
  color: var(--tc);
}
.stc {
  color: var(--stc);
}
.hc {
  color: var(--hc);
}

h2 {
  font-size: 2.3rem;
}
.mh {
  font-size: var(--mh);
}

.sh {
  font-size: var(--sh);
}
.mt {
  font-size: var(--mt);
}

.st {
  font-size: var(--st);
}

.hide {
  display: none;
}

.tac {
  text-align: center;
}
.m0a {
  margin: 0 auto;
}
.tae {
  text-align: end;
}
.tas {
  text-align: start;
}

.bglight {
  background-color: rgb(218, 218, 218);
}

/*  */

.full:not(.screen) {
  width: 100%;
}
.full.screen {
  width: 100vw;
}


