@import url("paddingMargin.css");
@import url("flexSystem.css");
@import url("border-radius.css");
@import url("hover.css");
@import url("animation.css");

:root {
  font-size: 1rem;
  --font-family: "Segoe UI";
  --my-container: min(var(--container-size) ,100%);
  --container-size: 1200px;
  --mbgc: #00000b;

  --mtc: #161616;
  --tc: #161616;
  --stc: #161616;
  --mhc: #161616;
  --hc: #161616;
  --shc: #161616;

  --mh: 3.4rem;
  --sh: 1rem;

  --differ: 10px;

  --mt: 1.3rem;
  --st: 0.75rem;

  --f1: 0 0 calc(10% - var(--differ));
  --f2: 0 0 calc(20% - var(--differ));
  --f3: 0 0 calc(30% - var(--differ));
  --f33: 0 0 calc(33.33% - var(--differ));
  --f4: 0 0 calc(40% - var(--differ));
  --f5: 0 0 calc(50% - var(--differ));
  --f6: 0 0 calc(60% - var(--differ));
  --f7: 0 0 calc(70% - var(--differ));
  --f8: 0 0 calc(80% - var(--differ));
  --f9: 0 0 calc(90% - var(--differ));
  --f0-5: 0 0 calc(05% - var(--differ));
  --f1-5: 0 0 calc(15% - var(--differ));
  --f2-5: 0 0 calc(25% - var(--differ));
  --f3-5: 0 0 calc(35% - var(--differ));
  --f4-5: 0 0 calc(45% - var(--differ));
  --f5-5: 0 0 calc(55% - var(--differ));
  --f6-5: 0 0 calc(65% - var(--differ));
  --f7-5: 0 0 calc(75% - var(--differ));
  --f8-5: 0 0 calc(85% - var(--differ));
  --f9-5: 0 0 calc(95% - var(--differ));
  --f10: 0 0 calc(100% - var(--differ));
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-family);
}
.container {
  width: var(--my-container);
  padding: 10px;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

img[src] {
  width: 100%;
}

img[src].auto {
  width: auto;
}

/*  */
/*  */
/*  */
/*  */
/*  */

.main-heading {
  color: var(--mhc);
  font-size: var(--mh);
  font-weight: 800;
  text-align: center;
  margin: 1rem 0;
}
.heading {
  color: var(--hc);
  font-size: 2.3rem;
  font-weight: 800;
}
.sub-heading {
  color: var(--shc);
  font-size: var(--sh);
  font-weight: 700;
}

.mbgc {
  background-color: var(--mbgc);
}

.mtc {
  color: var(--mtc);
}
/*  */
.mhc {
  color: var(--mhc);
}
.shc {
  color: var(--shc);
}
/*  */
.wtc {
  color: #fff;
}
.btc {
  color: #000;
}
.wbgc {
  background-color: #fff;
}
.bbgc {
  background-color: #000;
}
.tc {
  color: var(--tc);
}
.stc {
  color: var(--stc);
}
.hc {
  color: var(--hc);
}

h2 {
  font-size: 2.3rem;
}
.mh {
  font-size: var(--mh);
}

.sh {
  font-size: var(--sh);
}
.mt {
  font-size: var(--mt);
}

.st {
  font-size: var(--st);
}

.hide {
  display: none;
}

.tac {
  text-align: center;
}
.m0a {
  margin: 0 auto;
}
.tae {
  text-align: end;
}
.tas {
  text-align: start;
}

.bglight{
  background-color: rgb(218, 218, 218);
}

/*  */

.full:not(.screen) {
  width: 100%;
}
.full.screen {
  width: 100vw;
}




