.test-box {
  background-color: red;
  box-sizing: border-box;
  border: 2px solid black;
  height: 100px;
}
.width {
  width: 100px;
}
:root {
  --container-size: 1200px;
}

.cs{
  cursor: text;
  user-select: all;
}

.img img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: max(100px, 100%);
}
.code-block {
  max-height: 100px;
}

