.test-box{
    background-color: red;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
}
.width{
    width: 100px;
}


/* .f:not(:has(.nowrap)) .f33{
    min-width: 200px;
} */

.img img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: max(100px , 100%);
}
